.App {
  font-family: sans-serif;
  text-align: center;
}
.Weathersearch {
  margin-bottom: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  border-radius: 20px;
  font-family: "Sancreek", cursive;
}
.city {
  color: #3a4750;
  font-size: 35px;
}

.forecast {
  padding: 20px;
  font-family: "Sancreek";
  font-weight: bold;
  font-size: 20px;
  background: #90f6d7;
  text-align: center;
  border-radius: 20px;
}
.search-form {
  margin-bottom: 20px;
}
.container {
  margin: 30px, auto;
  padding: 30px;
  max-width: 900px;
}
.humidity {
  margin-left: -30px;
  margin-right: 10px;
}
.description {
  text-transform: capitalize;
}

.units a {
  text-decoration: none;
  color: #3a4750;
  cursor: default;
}
.units a:hover {
  text-decoration: underline;
  cursor: default;
}
.weather-forecast-min {
  opacity: 0.7;
}
